modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3001

[[ports]]
localPort = 23792
externalPort = 3000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BEWa1hCqoC9x_uTAS-88TMYx3eYfm86g5ZBtS9HUogclNLQjmMqo4QKqBxd1wIFkezGpxJdiGtMX_nBAf99uDKA"
VAPID_PRIVATE_KEY = "KnFpN9h1GTJObuY2mIKJsSXfUZcqxP7okQXJsU-cUkg"
VAPID_SUBJECT = "mailto:reminders@boc-notebook.app"
